<!DOCTYPE html>
<html>
	<head>
		<title>Manage Records</title>
		<link rel="stylesheet" href='{{ url_for("static", filename="styles.css") }}'>
	</head>
	
	<body>
		<div class='header'>
			<a href='{{ url_for("index") }}'>Home</a>
			<a href='{{ url_for("manage_record") }}'>Manage Record</a>
		</div>
						
		<div class="container">
			<input type="button" id="add" value="add">
			<input type="button" id="find" value="find">
			<input type="button" id="update" value="update">
			<input type="button" id="clear" value="clear">
			<br/><br/>
			
			<div id="msg"></div>
			<br/>
			
			<input type = "text" id="db_id" placeholder="id"> 
			<br/><br/>
			<input type = "text" id="ch_no" placeholder="Chapter #"> 
			<br/><br/>
			<textarea id="ch_title" placeholder="Chapter Title" cols="80"></textarea> 
			<br/><br/>
			<input type = "text" id="speaker" placeholder="speaker"> 
			<br/><br/>
			<textarea id="content" placeholder="content" cols="100" rows="15"></textarea> 
			<br/><br/>
			
			<label for="speaker">Speaker</label>
			<select name="speaker" id="speakerList">
				<option value="Ahd">Ahmed</option>
				<option value="Mohmd">Mohamed</option>
				<option value="Al">Ali</option>
				<option value="Husin">Hussein</option>
			</select>
			
						
			<button id="updateSpeaker">Update Speaker</button>
			<div id='updateCont'>
				<input type="text" id="newSpeaker" placeholder="Type new speaker...">
				<button id="executeUpdate">Update</button>
			</div>
			
		</div>
	
		<script src="{{ url_for('static', filename='add_record.js') }}"></script>
	</body>


</html>
