<!DOCTYPE html>
<html>
	<head>
		<title>Herbs Healing Properties</title>
		<link rel="stylesheet" href='{{ url_for("static", filename="styles.css") }}'>
	</head>

	<body>
		<div class='header'>
			<a href='{{ url_for("index") }}'>100 Plants That Heal</a>
			<a href='{{ url_for("herbs2") }}'>The New Healing Herbs - 135 Herbs</a>
			<a href='{{ url_for("healing_properties") }}'>Healing Properties</a>
			<a href='{{ url_for("usage") }}'>How to Use Herbs</a>
			<a href='{{ url_for("manage_record") }}'>Manage Record</a>
		</div>
		
		<div class="container">
			<h3>Acidulous</h3>
			<p>The tangy flavour of these plants quenches thirst; for example, Cherry.</p>

			<h3>Adaptogenic</h3>
			<p>Adaptogens have an all-around tonic effect on the body and promote its resistance to stress 
			while stimulating the immune system; for example, Siberian ginseng.</p>
			
			<h3>Analeptic</h3>
			<p><b>Softening</b> plant substances used as restorative food for the sick; for example, 
			Almond and roasted acorns (Oak).</p>
			
			<h3>Analgesic</h3>
			<p>Plants that soothe, reduce or eliminate pain; for example, Pasqeflower.</p>
			
			<h3>Anaphrodisiac</h3>
			<p>Plants that reduce libido, the opposite of <b>aphrodisiac</b>; for example, Common Hop and Chaste Tree.</p>
			
			<h3>Anthelmintic</h3>
			<p>Synonym of Vermifugal</p>

			<h3>Anti-allergenic</h3>
			<p>By modulating immune system response, these plants decrease symptoms associated with allergies, such as pain, 
			inflammation and swelling; for example, Black Elder (flowers).</p>
			
			<h3>Antibacterial</h3>	
			<p>These plants have properties that kill bacteria or prevent 
			their establishment and propagation; for example, Common Centaury.</p>
			
			<h3>Antifungal</h3>	
			<p>The antiseptic action of these plants works on the infectious fungi responsible for
			 fungal diseases; for example, Blackseed.</p>
 
			<h3>Anti-inflammatory</h3>	
			<p>Plants used to reduce inflammation and related symptoms (swelling, pain, and heat); 
			for example, Common Agrimony, Glandular Plantain and Nettle.</p>

			<h3>Antiperspirant</h3>	
			<p>Plants used to reduce the excessive secretion of sweat; for example, English Walnut and English Oak.</p>

			<h3>Antipyretic</h3>	
			<p>Synonym of Febrifugal</p>

			<h3>Antiscorbutic</h3>	
			<p>Intially intended to cure scurvy (disease caused by lack of vitamin C), 
			antiscorbutic plants are high in vitamin C; for example, Blackcurrant, Watercress 
			and Bogbean, along with numerous wild vegetables.</p>

			<h3>Antiseptic</h3>	
			<p>By helping to prevent the development of microbes (bacteria, virus and microscopic 
			fungi), these plants enable the body to fight infection. Generally used externally, 
			but can also be taken internally. Often aromaticplants; for example, Eucalyptus.</p>

			<h3>Antispasmodic</h3>	
			<p>These plants prevent spasms, involuntary contractions of the muscles 
			and organs of nervous origin; for example, Lemon Balm and Lime (Linden).</p>

			<h3>Anxiolytic</h3>	
			<p>Plants used to reduce anxiety and panic; for example, St. John's-wort.</p>

			<h3>Aperitive</h3>	
			<p>These plants stimulate the appetite for food by acting on the digestive 
			organs and glands. These are often bitter plants; for example, Chicory, Gentian and Common Hop.</p>

			<h3>Aphrodisiac</h3>	
			<p>Excitant or generally stimulating, these plants are considered--rightly or wrongly-- 
			to boost libido and enhance sexual desire; for example, Hogweed.</p>

			<h3>Aromatic</h3>	
			<p>Plants with pleasant fragrance and strong taste due to essential oils and essences 
			from glands in leaves and stems. Tonic and stimulating and invigorate 
			digestive function. Also used in baths and lotions. Frequently Lamiaceae 
			(Hyssop, Lavender, Lemon Balm, Mint, Oregano, Rosemary, Thyme), Apiaceae 
			(Fennel), or Asteraceae (Wormwood, Mugwort).</p>

			<h3>Ascaricides</h3>	
			<p>Plants with anthelmintic/vermifugal properties that attack roundworm and pinworm, 
			but are not effective in treating tapeworm; for example, Wormwood and Mugwort.</p>

			<h3>Astringent</h3>	
			<p>The high tannin content of these plants causes tissue, capillaries and orifices 
			to contract, inhibiting mucous and glandular secretions. Used to treat diarrhoea,
			 haemorrhages, white discharge (leucorrhoea) and sore throats; for example, Bilberry, 
			 English Oak, English Walnut and Purple Loosestrife. They are also fortifying.</p>
			 
			<h3>Balsamic</h3>	
			<p>The plants contain natural aromatic substances such as balms and resins. 
			They act by stimulating the digestive and respiratory tracts; for example, Eucalyptus and Scots Pine.</p>

			<h3>Bechic</h3>	
			<p>Plants used to relieve coughs and irritations of the respiratory tract; 
			for example, Hyssop and Colt's-foot. The term pectoral is also used.</p>

			<h3>Bitter</h3>	
			<p>These plants pique the appetite, stimulate the digestive glands and 
			facilitate digestion. They are also febrifugal and tonic. They should ideally be 
			taken before a meal. For example, Fumitory.</p>

			<h3>Calmative</h3>	
			<p>Plants that act on the nervous system, to reduce excessive activity and 
			irritability, and induce sleep. Those that calm coughs are bechic; those that
			 relieve or suppress pain are sedative or analgesic; those that decrease 
			 spasms are antispasmodic; those that cure headaches of nervous origin are cephalic;
			 those that induce sleep are somniferous, narcotic or hypnotic.</p>
			 
			<h3>Carminative</h3>	
			<p>Plants that assist in expelling gas from the intestine. These are aromatic and 
			stimulant plants; for example, Fennel and Lemon Balm.</p>

			<h3>Cathartic</h3>	
			<p>Plants that purge more energetically than laxatives, but do not cause inflammation.</p>

			<h3>Cephalic</h3>	
			<p>Calmative plants that specifically treat headaches of nervous origin; 
			for example, Lavender, Thyme and Lime.</p>

			<h3>Cholagogic</h3>	
			<p>These plants assist in evacuating the bile ducts and consequently have 
			a positive effect on the liver and digestive tract as a whole; for example, 
			Chicory root, Dandelion and Rosemary. Cholagogic plants are very similar to choleretic plants.</p>

			<h3>Choleretic</h3>	
			<p>Plants that increase and stimulate bile secretion from the gall bladder; 
			for example, Dandelion and Rosemary.</p>

			<h3>Cicatrisant</h3>	
			<p>see Vulnerary</p>

			<h3>Cordial</h3>	
			<p>These plants, which act on the heart and stomach, are comforting because of 
			the "warming" effect they have on the body. They include aromatic and stimulating 
			plants; for example, Fennel, Lemon Balm, Mint and Thyme.</p>

			<h3>Counter-irritant</h3>	
			<p>When applied to the skin, these plants cause redness with a feeling of heat. 
			They create local irritation or mild inflammation in order to 
			lessen discomfort in another location. They are used to decongest an internal 
			organ; for example, garlic and chili. Also referred to as rubefacient or vesicant.</p>

			<h3>Decongestant</h3>	
			<p>Decongestant plants can reduce congestion in the respiratory system. 
			They help reduce the pressure that causes pain in the facial area when colds 
			affect the sinuses; for example, Eucalyptus.</p>

			<h3>Depurative</h3>	
			<p>Plants used to purify the blood and rid the body of the principle harmful 
			toxins, by causing them to be sweated out (sudorific), or flushed from the kidneys 
			(diuretic) or the gut (purgative and laxative); for example, Chicory, Fumitory, Dandelion and Soapwort.</p>

			<h3>Digestive</h3>	
			<p>Plants that facilitate digestion by assisting the stomach in its work; 
			for example, Gentian, Lemon Balm and Mint.</p>

			<h3>Diuretic</h3>	
			<p>These plants promote the emission of urine by acting on the urinary tract. 
			Some diuretic plants simply increase the volume of urine (Cherry stalks and 
			Leek); others eliminate chlorides from the body and reduce oedema (Silver Birch, 
			Fennel and Butcher's Broom); others flush out urea and uric acid and are indicated 
			when there is too much urea in the blood or for gout- or rheumatism-sufferers
			 (Blackcurrant and Meadowsweet); others, in addition to their diuretic effect, 
			 are highly effective in treating urinary ailments and the resulting discomfort: 
			 cystitis, prostatitis, nephritis (Heather, Bearberry and Juniper berries).</p>
			 
			<h3>Emetic</h3>	
			<p>Such plants cause vomiting, thus emptying the stomach of its contents 
			in the case of indigestion or poisoning.</p>

			<h3>Emetocathartic</h3>	
			<p>These plants cause both vomiting and bowel movements. They should be used 
			with caution, carefully monitoring individual reactions; for example, Black Elder bark.</p>

			<h3>Emmenagogic</h3>	
			<p>Plants used to bring on, facilitate or increase menstrual flow; for example, Wormwood and Mugwort.</p>

			<h3>Emollient</h3>	
			<p>see Softening</p>

			<h3>Excitant</h3>	
			<p>see Stimulating</p>

			<h3>Expectorant</h3>	
			<p>Pectoral plants that facilitate expectoration, namely promote the evacuation 
			of mucous blocking the trachea and bronchial tract; for example, Eucalyptus, 
			Hyssop, White Horehound and Colt's-foot.</p>

			<h3>Febrifugal</h3>	
			<p>Plants that reduce fevers and prevent them taking hold; for example, 
			Wormwood, Common Centaury, Gentian and Bogbean. Also known as antipyretic.</p>

			<h3>Fortifying</h3>	
			<p>These plants give strength, courage and energy. They are bitter (Common 
			Centaury, Chicory, Gentian and Bogbean), astringent (Common Agrimony, 
			and Blackcurrant) or analeptic. They are also referred to as tonic.</p>

			<h3>Galactogenic</h3>	
			<p>Plants that contribute to increasing the production and flow of milk; for example, Fennel.</p>

			<h3>Haemostatic</h3>	
			<p>Astringent plants. Their principal qualities are staunching bleeding; 
			for example, Shepherd's Purse, Comfrey and White Deadnettle.</p>

			<h3>Hepatic</h3>	
			<p>Plants that facilitate liver function; for example, Common Centaury and Rosemary.</p>

			<h3>Hypnotic</h3>	
			<p>These calmative plants induce restorative sleep; for example, Common Poppy 
			and Common Hop. Also known as somniferous, narcotic, or soporific.</p>

			<h3>Hypoglycaemic</h3>	
			<p>Plants that reduce blood sugar with an antidiabetic effect. 
			For example, Herb Robert and Common Agrimony.</p>

			<h3>Immunomodulatory</h3>	
			<p>Plants that moderate the activity of the immune system and regulate its functioning.</p>

			<h3>Immunostimulant</h3>	
			<p>Plants that stimulate immune defences; for example, Hemp Agrimony, Gentian and Greater Celandine.</p>

			<h3>Insectifuge</h3>	
			<p>Plants used to repel insects, thus protecting from the consequences of insect 
			bites and stings; for example, Lavender.</p>

			<h3>Laxative</h3>	
			<p>These plants act to gently promote evacuation of the bowels, without irritating
			 or tiring the intestine; for example, Sweet Almond oil, Fig, Chard, Dog Rose.</p>
			 
			<h3>Lipid-lowering (and Cholesterol-lowering)</h3>	
			<p>Plants used to reduce concentrations of fatty acids in the blood and 
			lower cholesterol, thereby protecting against cardiovascular diseases; for example, Oat, Leek, Flax.</p>

			<h3>Narcotic</h3>	
			<p>synonym of Hypnotic</p>

			<h3>Pectoral</h3>	
			<p>Pectoral describes all plants that relieve chest ailments affecting the bronchial 
			tubes, lungs and larynx. They help to evacuate, through the mouth, 
			substances that could obstruct the bronchial tubes. Bechic plants, which soothe coughs, 
			and expectorants, which facilitate expectoration, are also pectoral plants.</p>

			<h3>Purgative</h3>	
			<p>Purgatives are more energetic than laxatives and cause the vigorous evacuation 
			of the bowels, by stimulating the secretions and peristalsis of the intestine; for example, Black Elder.</p>

			<h3>Refreshing</h3>	
			<p>Refreshing plants quench thirst and reduce body temperature and inflammation. 
			They are acidulous plants (Cherry); or softening plants (Mallow).</p>

			<h3>Resolutive</h3>	
			<p>Plants used to relieve blockages (accumulations of fluid obstructing particular 
			parts of the body) and inflammation and allow the tissue to return to its normal state; 
			for example, Chicory, Common Hop, Hyssop and Soapwort.</p>

			<h3>Rubefacient</h3>	
			<p>Rubefacient plants, as their name indicates, "redden" the skin; for example, 
			Round-leaved Sundew. Also, counter-irritant.</p>

			<h3>Sedative</h3>	
			<p>These plants alleviate pathological manifestations (pain, anxiety, insomnia) 
			or moderate the way an organ functions. This qualifier is often used in a 
			narrower sense of "pain sedative". For example, Black Horehound. Also analgesic and calmative.</p>

			<h3>Softening</h3>	
			<p>These plants soften and relax the skin, and relieve inflammation 
			(for example, sweet Almond and Comfrey). Plants with this property are also 
			known as emollients. They have the opposite action to tonic or astringent plants.</p>

			<h3>Somniferous</h3>	
			<p>see Calmative and Hypnotic</p>

			<h3>Soporific</h3>	
			<p>see Hypnotic</p>

			<h3>Sternutatory</h3>	
			<p>In powder form and administered via the nose, these plants cause sneezing 
			and stimulate secretion from the mucosa; for example, Lavender and Thyme.</p>

			<h3>Stimulant</h3>	
			<p>Such plants increase activity and vitality by stimulating the nervous and 
			vascular system, and the whole body in general (Wormwood, Mugwort and Rosemary). 
			They are also known as excitants. Aromatics and spices (Scots Pine and Winter 
			Savory) tend to contain substances that stimulate the digestive tract, 
			their effect often spreading to other parts of the body. Herbal physicians 
			of old distinguished "diffusible stimulants", which work fast but do not have 
			a long-lasting effect (Wormwood), and "persistent stimulants", 
			which are slower to act, but longer lasting.</p>

			<h3>Stomachic</h3>	
			<p>Plants that stimulate and regulate stomach function; for example, Common 
			Centaury, Fennel, Gentian, Hop and Rosemary.</p>

			<h3>Sudorific</h3>	
			<p>These plants cause perspiration and promote the secretion of 
			sweat; for example, Black Elder, Borage and Blackthorn.</p>

			<h3>Tenifugal</h3>	
			<p>Describes vermifugal plants that expel tapeworm; for example, Pomegranate.</p>

			<h3>Tonic</h3>	
			<p>These plants have a general invigorating effect on the body: 
			they increase the activity of organs involved in the digestive process and repair 
			damaged tissue. For example, Blackcurrant. Also known as fortifying.</p>

			<h3>Vermifugal</h3>	
			<p>Plants that expel worms from the intestine. Vermifugal plants include ascaricides, 
			which destroy roundworm and pinworm, and taeniafuges, which rid the body of 
			tapeworm. Also known as anthelmintic.</p>

			<h3>Vesicant</h3>	
			<p>see Counter-irritant</p>

			<h3>Vomitive</h3>	
			<p>see Emetic</p>

			<h3>Vulnerary</h3>	
			<p>Applied topically, these plants aid the body in healing wounds, sores, 
			cuts and bruises; for example, Arnica. In the past, "vulnerary plants" 
			also included antiseptic and aromatic plants that were administered internally to 
			revitalize people who had suffered a fall or injury, or revive them if they were 
			feeling faint or weak; for example, Wormwood, Fennel, Hyssop, Rosemary, Garden Thyme and Wild Thyme.</p>	

		</div>
		
		
		
	</body>

</html>