<!DOCTYPE html>
<html>
	<head>
		<title>How to Use Herbs</title>
		<link rel="stylesheet" href='{{ url_for("static", filename="styles.css") }}'>
	</head>

	<body>
		<div class='header'>
			<a href='{{ url_for("index") }}'>100 Plants That Heal</a>
			<a href='{{ url_for("herbs2") }}'>The New Healing Herbs - 135 Herbs</a>
			<a href='{{ url_for("healing_properties") }}'>Healing Properties</a>
			<a href='{{ url_for("usage") }}'>How to Use Herbs</a>
			<a href='{{ url_for("manage_record") }}'>Manage Record</a>
		</div>
		
		<div class="container">
		
		<h3>Infusion</h3>	
		<p>Involves pouring boiling water over plants (or placing plants in the recipient containing the boiling water) at the precise moment when the water starts boiling. The container should then be covered and the contents left to infuse: the result is an infusion. Infusion time varies, depending on the type of plant: from 10 minutes to 1 hour.</p>

		<h3>Decoction</h3>	
		<p>The plant is chopped into small pieces and heated in the water until it boils. The length of time it will then be left to boil will depend on the species, but in general between 10 and 30 minutes. It is then strained, pressing hard to extract the maximum active principles. Decoction works best with the bark, roots, stems and fruit.</p>

		<h3>Maceration</h3>	
		<p>Very simply, this preparation is obtained by immersing plants in some kind of liquid, without heating. This liquid may be an alcohol (for example, Rosemary alcoholate), oil (for example, oily maceration of St. John's-wort), or even wine (Gentian wine). Contact time is generally longer, up to a month.</p>

		<h3>Poultice</h3>	
		<p>Consists of applying wet preparations, in the form of a soft paste (a Flax flour poultice, for example) or poultices of grated or crushed plants (Carrot pulp poultice, for example), directly to the skin. Poultices can also be made with the plants used in an infusion or decoction, placing them between two pieces of cloth to form a pad that is then applied directly to the area requiring treatment. Poultices can be emollient, maturative (accelerate suppuration), restorative, calmative and rubefacient (skin reddening). They are generally applied warm, at 35 to 40 C. However, soothing poultices can be applied tepid or cold when the area to be treated is painful or inflamed.</p>

		<h3>Tinctures</h3>	
		<p>Are obtained by macerating the dried plant in alcohol, in proportions of approximately 1g of dried plant to obtain 5g of tincture. In some cases, the soluble components of a dried plant powder are extracted by steeping it in warm alcohol (or at room temperature), then straining.</p>

		<h3>Mother Tinctures</h3>	
		<p>Are the basis of homoeopathic drug preparation. On the whole they are macerations of a tenth fresh plant in 65% alcohol. The relevant amount of fresh plant is dried, and then made up in a proportion of 1g of dried plant to obtain 10g of tincture.</h3>

		<h3>Fumigation and Inhalation</h3>	
		<p>The plants are boiled or burned so their therapeutic properties can be enjoyed in the form of the vapours or fumes produced. The vapours from aromatic plants that are boiled or placed in boiling water (Eucalyptus, Lavender, Thyme, for example) are strong antiseptics. These beneficial vapours can be inhaled directly by bending over the saucepan, once removed from the source of heat, placing a towel over the head to form a tent and inhaling.</p>

		</div>
		
		
		
	</body>

</html>